<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zebra.rfid.demo.sdksample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.itemlocation.ItemLocationActivity"
            android:exported="true" />
        <activity
            android:name=".views.order.AnexosActivity"
            android:exported="true" />
        <activity
            android:name=".views.order.OrderFormStepTwoActivity"
            android:exported="true" />
        <activity
            android:name=".views.order.OrderActivity"
            android:exported="true" />
        <activity
            android:name=".views.reception.ReceptionActivity"
            android:exported="true" />
        <activity
            android:name=".views.reception.ReceptionSelectionActivity"
            android:exported="true" />
        <activity
            android:name=".views.itemlocation.ItemSelectionActivity"
            android:exported="true" />
        <activity
            android:name=".views.inventory.PerformInventoryActivity"
            android:exported="true" />
        <activity
            android:name=".views.inventory.InventorySelectionActivity"
            android:exported="true" />
        <activity
            android:name=".views.MenuActivity"
            android:exported="true" />
        <activity
            android:name=".views.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>